/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #2c5f2d;
    padding: 10px;
    text-align: center;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-container h1 {
    font-size: 24px;
    color: white;
}

.logo {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
}

.centered-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.centered-nav li {
    display: inline-block;
}

.centered-nav li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.item-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.item {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.item img {
    max-width: 200px;
    border-radius: 8px;
}

.item-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    text-align: center;
}

.item-details img {
    max-width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #97bc62;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #2c5f2d;
}

.login-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilos para pestañas */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
